{
  "parser": "@babel/eslint-parser",
  "plugins": [
      "prettier"
  ],
  "extends": ["plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "printWidth": 140,
        "trailingComma": "all"
      }
    ]
  },
  "env":{
    "es6": true
  },
  "globals": { "fetch": false }
}
