/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
.lead {
  font-size: 18px;
  font-weight: 400;
}
.lead strong {
  font-weight: bold;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  background-color: #1C2529;
}
.clear {
  clear: both;
  display: block;
}
body {
  color: #fff;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
h2 {
  font-size: 50px;
  font-weight: bold;
  padding-top: 80px;
  margin-bottom: 40px;
}
.cover-heading {
  padding-top: 190px;
  margin-bottom: 40px;
}
.cover-container {
  max-width: 960px;
}
@media (max-width: 991px) {
    .cover-container {
      padding-left: 16px;
      padding-right: 16px;
  }
}
.github {
  margin-top: 80px;
}

/*
 * Header
 */
.masthead {
  padding-top: 58px;
}

.masthead-brand {
  margin-bottom: 0;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
/*
 * Cover
 */
.cover {
  padding-bottom: 140px;
 }
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
.explain {
  min-height: 800px;
  background: #29353C;
}
.explain img {
  margin: 90px auto;
}
.lndhub-graph {
  max-width: 100%;
}
.promote {
  padding-bottom: 80px;
}
.promote img {
  max-width: 232px;
}
.cta {
  margin-top: 40px;
}
@media (min-width: 992px) {
    .cta li:first-child {
      float: left;
    }
    .cta li {
      margin: 0 auto;
      text-align: center; 
    }
}
@media (max-width: 991px) {
    .cta li {
    margin: 0 auto 32px 0;
    text-align: center;
    width: 50%;
    float: left;
    }
    .cta li img{ 
    width: 150px;
    }
}
/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
